name: Generate Template

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  template:
    name: Template generation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Install dependencies
        run: |
          pip install invoke
          invoke requirements
          pip list

      - name: Execute template
        run: |
          invoke template

      - name: Install conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: true
          activate-environment: ""

      - name: List all project commands
        run: |
          cd repo_name
          invoke --list

      - name: Run project commands
        run: |
          cd repo_name
          invoke create-environment
          conda activate repo_name
          invoke requirements
          invoke dev-requirements
        env:
          TERM: xterm

      - name: Run project commands
        run: |
          cd repo_name
          invoke preprocess-data
          invoke train
          invoke test
        env:
          TERM: xterm

      - name: Build documentation
        run: |
          cd repo_name
          invoke build-docs
        env:
          TERM: xterm

      - name: Build dockerfiles
        run: |
          cd repo_name
          invoke build-docker
        env:
          TERM: xterm
