name: Check Template

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  setup:
    name: Template generation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project_structure: ["simple", "advance"]
        project_manager: ["pip", "uv"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install invoke
          invoke requirements
          pip list

      - name: Execute template
        run: |
          invoke template \
            --project-structure=${{ matrix.project_structure }} --project-manager=${{ matrix.project_manager }}

      - name: Generated tree structure
        run: |
          tree -a ${{ matrix.project_structure }}_${{ matrix.project_manager }}_repo

      - name: Upload generated template
        uses: actions/upload-artifact@v4
        with:
          name: generated-template-${{ matrix.project_structure }}-${{ matrix.project_manager }}
          path: ${{ matrix.project_structure }}_${{ matrix.project_manager }}_repo
          include-hidden-files: true

  pip-project:
    name: Project using pip
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project_structure: ["simple", "advance"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Download generated template
        uses: actions/download-artifact@v6
        with:
          name: generated-template-${{ matrix.project_structure }}-pip
          path: ${{ matrix.project_structure }}_pip_repo

      - name: Artifact structure
        run: |
          tree -a ${{ matrix.project_structure }}_pip_repo

      - name: Install conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          activate-environment: ""

      - name: Install project dependencies
        run: |
          cd ${{ matrix.project_structure }}_pip_repo
          pip install invoke
          invoke create-environment
          invoke requirements
          invoke dev-requirements
        env:
          TERM: xterm

      - name: List all project commands
        run: |
          cd ${{ matrix.project_structure }}_pip_repo
          invoke --list

      - name: Run project commands
        run: |
          cd ${{ matrix.project_structure }}_pip_repo
          invoke preprocess-data
          invoke train
          invoke test
        env:
          TERM: xterm

      - name: Build documentation
        if: ${{ matrix.project_structure == 'advance' }}
        run: |
          cd ${{ matrix.project_structure }}_pip_repo
          invoke build-docs
        env:
          TERM: xterm

      - name: Build dockerfiles
        if: ${{ matrix.project_structure == 'advance' }}
        run: |
          cd ${{ matrix.project_structure }}_pip_repo
          invoke docker-build
        env:
          TERM: xterm

      - name: Check devcontainer
        if: ${{ matrix.project_structure == 'advance' }}
        run: |
          cd ${{ matrix.project_structure }}_pip_repo
          npx @devcontainers/cli build --workspace-folder .
          npx @devcontainers/cli up --workspace-folder .
        env:
          TERM: xterm

  uv-project:
    name: Project using uv
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project_structure: ["simple", "advance"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Download generated template
        uses: actions/download-artifact@v6
        with:
          name: generated-template-${{ matrix.project_structure }}-uv
          path: ${{ matrix.project_structure }}_uv_repo

      - name: Artifact structure
        run: |
          tree -a ${{ matrix.project_structure }}_uv_repo

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install project dependencies
        run: |
          cd ${{ matrix.project_structure }}_uv_repo
          uv sync --all-extras --dev

      - name: List all project commands
        run: |
          cd ${{ matrix.project_structure }}_uv_repo
          uv run invoke --list

      - name: Run project commands
        run: |
          cd ${{ matrix.project_structure }}_uv_repo
          uv run invoke preprocess-data
          uv run invoke train
          uv run invoke test
        env:
          TERM: xterm

      - name: Build documentation
        if: ${{ matrix.project_structure == 'advance' }}
        run: |
          cd ${{ matrix.project_structure }}_uv_repo
          uv run invoke build-docs
        env:
          TERM: xterm

      - name: Build dockerfiles
        if: ${{ matrix.project_structure == 'advance' }}
        run: |
          cd ${{ matrix.project_structure }}_uv_repo
          uv run invoke docker-build
        env:
          TERM: xterm

      - name: Check devcontainer
        if: ${{ matrix.project_structure == 'advance' }}
        run: |
          cd ${{ matrix.project_structure }}_uv_repo
          npx @devcontainers/cli build --workspace-folder .
          npx @devcontainers/cli up --workspace-folder .
        env:
          TERM: xterm
